* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 30px;
  height: 30px;
}

.first-header {
  font-size: 24px;
  color: #f9faf8;
}

.github-logo {
  width: 25px;
  height: 25px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1f2937;
}

.right-links,
.left-links {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.main-container {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.main-right-side {
  display: flex;
  flex-direction: column;
  padding: 100px;
  width: 600px;
  margin-left: 28px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
}

.hero-signup-button {
  align-self: flex-start;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
  color: #f9faf8;
  margin-top: 8px;
  background-color: #3882f6;
}

.place-holder {
  background-color: #6a6a72;
  padding: 90px;
}

.information-header-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 30px;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  border: 2px solid blue;
  border-radius: 18px;
  width: 150px;
  height: 150px;
}

.photo-text-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.photo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  gap: 8px;
}

.blockquote-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: initial;
  background-color: #e5e7eb;
  padding: 100px;
}

.blockquote {
  max-width: 750px;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
}

.author {
  font-weight: bold;
  font-style: normal;
  text-align: right;
  font-size: 20px;
}

.call-to-action-container {
  padding: 90px;
  display: flex;
  justify-content: center;
}

.call-to-action-main-text {
  text-align: left;
  font-weight: bold;
}

.cta-text-and-button {
  width: 900px;
  padding: 34px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 8px;
}

.call-to-action-text-button {
  display: flex;
  margin-left: 40px;
}

.cta-sign-button {
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

.call-to-action-sign-button {
  margin-left: 280px;
  align-self: center;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
  padding: 18px;
}
